certifi==2019.3.9
chardet==3.0.4
humanreadable==0.0.6
idna==2.8
Logbook==1.4.3
mbstrdecoder==0.8.0
netifaces==0.10.9
pingparsing==0.16.0
pip==19.2
#Doesnt seem to work 100% of the time...
#pkg-resources==0.0.0
pyparsing==2.4.0
requests==2.21.0
#Workaround for License issue.
#Please see : https://github.com/secdev/scapy/issues/1783
scapy==2.4.3rc1
setuptools==40.8.0
six==1.12.0
subprocrunner==0.17.0
typepy==0.5.0
urllib3==1.24.3
urwid==2.0.1
wheel==0.33.1
iperf3==0.1.11
